@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdfdfd;
    --foreground: #0a0a0a;

    --muted: #f1f1f1;
    --muted-foreground: #131313;

    --accent: #e6e6e6;
    --accent-foreground: #1d1d1d;

    --accent-secondary: #e4bd0f;

    --border: #f5f5f5;

    --primary: #cecece;
    --primary-foreground: #3b3b3b;

    --secondary: #c4c4c4;
    --secondary-foreground: #444444;

    --minus-nav-height: calc(100vh - 62px);
  }

  .dark {
    --background: #070707;
    --foreground: #ffffff;

    --muted: #4f4f4f;
    --muted-foreground: #f5f5f5;

    --accent: #303030;
    --accent-foreground: #ebebeb;

    --accent-secondary: #ecc414;

    --border: #27272738;

    --primary: #131313;
    --primary-foreground: #cecece;

    --secondary: #1d1d1d;
    --secondary-foreground: #858585;

    --minus-nav-height: calc(100vh - 62px);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .blur {
    filter: blur(5px) brightness(0.7);
    transition: all 0.3s ease;
    pointer-events: none;
    user-select: none;
    position: relative;
    z-index: -50;
  }
}
