.contact {
  max-width: 1000px;
  text-align: right;
}

.contact h2::before {
  margin-right: 20px;
  content: "";
  position: relative;
  top: 1px;
  display: block;
  height: 1px;
  width: 34%;
  background-color: var(--color-tertiary);
}

.contact__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.contact__info .contact__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  flex: 0.6;
  margin-top: -1.6rem;
  color: var(--color-primary);
}

.contact__links .contact__link {
  border: 2px solid var(--color-highlight);
  border-radius: 4px;
  padding: 0.9rem 1rem;
  outline: 2px solid transparent;
  outline-offset: 5px;
}

.contact__links .contact__link:hover {
  outline-color: var(--color-highlight);
  color: var(--color-primary);
  outline-offset: 0;
  transition: all 0.4s ease;
}

.contact__link div {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.contact__link h4 {
  font-size: 0.8rem;
}

.contact__info .contact__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: var(--border-radius);
  width: 100%;
  flex: 1;
}

.contact__message .contact__row {
  display: flex;
  width: 100%;
}

.contact__message .contact__input {
  width: 100%;
  position: relative;
  text-align: center;
}

.contact__input p {
  font-size: var(--font-xs);
  padding-top: 1rem;
}

.contact__message input,
.contact__message textarea {
  border: 1px solid var(--color-highlight);
  border-radius: 4px;
  padding: 1rem 0.8rem;
  outline: 2px solid transparent;
  outline-offset: 5px;
  width: 90%;
  resize: vertical;
  background-color: transparent;
  color: var(--color-secondary);
}

.contact__message textarea {
  height: 10rem;
  width: 95%;
}

.contact__message input:focus,
.contact__message textarea:focus {
  outline-color: var(--color-highlight);
  outline-offset: 0;
  transition: all 0.4s ease;
}

.contact__message span {
  position: absolute;
  left: 2rem;
  top: 0.8rem;
  font-size: 0.8rem;
  pointer-events: none;
}

.contact__message input:focus ~ span,
.contact__message textarea:focus ~ span,
.contact__message input:valid ~ span,
.contact__message textarea:valid ~ span {
  transform: translateX(-0.2rem) translateY(-1.4rem);
  background: var(--contact-bg);
  color: var(--color-highlight);
  transition: all 0.2s ease;
  padding: 0 0.2rem;
  font-size: 0.8rem;
}

.contact__message .contact__btn {
  margin: 1rem auto 0 auto;
  padding: 0.8rem 1.2rem;
}

/* =============== MEDIA QUERIES(SMALL DEVICES) =============== */
@media screen and (max-width: 768px) {
  .contact h2::before {
    width: 100%;
  }

  .contact .contact__info {
    flex-direction: column;
  }

  .contact__info .contact__links {
    width: 90%;
  }

  .contact__info .contact__message {
    width: 100%;
  }

  .contact__message .contact__row {
    flex-direction: column;
    gap: 1rem;
  }

  .contact__message input,
  .contact__message textarea {
    width: 90%;
  }

  .contact__message span {
    left: 8%;
  }
  .contact__input p {
    font-size: var(--font-xxs);
  }
}

/* =============== MEDIA QUERIES( VERY SMALL DEVICES) =============== */
@media screen and (max-width: 480px) {
  .contact__info .contact__links {
    width: 100%;
  }

  .contact__info .contact__message {
    width: 100%;
  }

  .contact__info .contact__message {
    background: none;
  }

  .contact__message input,
  .contact__message textarea {
    width: 100%;
  }

  .contact__message span {
    left: 4%;
  }
}
