.header__container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* ==================== Header Hero ==================== */

.header__container .header__hero {
  margin: auto 0;
  padding-bottom: 5rem;
}

.header__container .header__hero .header__hero-title {
  margin-bottom: -0.5rem;
  font-size: clamp(14px, 5vw, 16px);
}

.header__hero > h5 > img {
  width: 24px;
  display: inline-block;
}

.header__container .header__hero h1 {
  margin-left: -.5rem;
  text-align: left;
  line-height: initial !important;
  font-size: clamp(36px, 8vw, 80px);
}

.header__container .header__hero h3 {
  margin-left: -.2rem;
  margin-top: -0.4rem;
  font-size: clamp(20px, 7vw, 40px);
}

.header__container .header__hero .header__hero-para {
  margin-top: 1.6rem;
  max-width: 34rem;
}

.header__container .header__hero .btn {
  margin-top: 2rem;
}


/* =============== MEDIA QUERIES(MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  .header__container .header__hero h1 {
    margin-left: -.3rem;
  }
}

/* =============== MEDIA QUERIES(SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  .header__container .header__hero .header__hero-title {
    margin-bottom: 0;
    margin-left: -.1rem;
  }
  .header__container .header__hero h3 {
    margin-top: 0;

  }
}