.header__container {
  position: relative;
  height: 100vh;
  /* padding-top: 6rem; */
  display: flex;
  justify-content: center;
}

/* ==================== Header Hero ==================== */

.header__container .header__hero {
  padding-top: 6rem;
  text-align: left;
  max-width: 32rem;
}

.header__container .header__hero .header__hero-title {
  margin-bottom: -0.6rem;
}

.header__hero > h5 > img {
  width: 24px;
  display: inline-block;
}

.header__container .header__hero h1 {
  margin-left: -0.2rem;
}

.header__container .header__hero h3 {
  margin-top: -0.4rem;
}

.header__container .header__hero .header__hero-para {
  margin-top: 1.6rem;
}

.header__container .header__hero .btn {
  margin-top: 2rem;
}
