:root {
  --color-highlight: #80669d;
  --btn-primary: #80669d;
  --btn-text: #f4f4f4;
}


.light {

  --bg-primary: #ffffff;
  --bg-secondary: #ececff;
  --home-primary: #ffffff;
  --contact-bg: #ede7f5;

  --nav-primary: transparent;
  --nav-secondary: #ffffff1a;
  --nav-link: #f9f9f9;

  --color-primary: #1f1235;
  --color-secondary: #1b1425;
  --color-tertiary: #1b1325;
  --color-quaternary: #5f5f5f;

  --color-white: #ffffff;
  --color-white-secondary: #f1f1f1;
  --color-white-tertiary: #e2dbeb;


  --box-shadow: 1px 1px 10px rgba(173, 173, 175, 0.2);
  --box-shadow-hover: 1px 1px 10px rgba(173, 173, 175, 0.6);
}

.dark {

  --bg-primary:  #0f121a;
  --bg-secondary: #1b1b23;
  --home-primary: #0f121a;
  --contact-bg: #0b0d13;

  --nav-primary: transparent;
  --nav-secondary: #ffffff1a;
  --nav-link: #1b1b23;

  --color-primary: #fdfdfc;
  --color-secondary: #9c9da8;
  --color-tertiary: #444444;
  --color-quaternary: #a7a9be;

  --color-white: #171c28;
  --color-white-secondary: #f1f1f1;
  --color-white-tertiary: #121218;


  --box-shadow: 1px 1px 10px rgba(62, 62, 83, 0.2);
  --box-shadow-hover: 1px 1px 10px rgba(36, 36, 51, 0.6);
}
