.nav__container {
  padding: 0 3.4rem;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  background-color: var(--nav-primary);
  padding: 0 3.4rem;
  z-index: 999;
}

.active {
  transform: translateY(0);
  transition: var(--transition);
}

.hidden{
  transform: translateY(calc(var(--nav-height) * -1))
}

.nav__container .nav__logo {
  font-weight: 700;
  font-size: var(--font-xxl);
  letter-spacing: -0.4rem;
  line-height: 1.8;
  cursor: pointer;
}

.nav__container .nav__logo:hover{
  color: var(--color-quaternary);
  transform: scaleX(1.2);
  transition: var(--transition);
}

.nav__container .nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.nav__container .nav__links .nav__link {
  font-weight: 400;
  font-family: var(--font-secondary);
  font-size: var(--font-sm);
  letter-spacing: 0.1rem;
  border-bottom: 2px solid transparent;
  padding: 0 0.2rem;
}

.nav__container .nav__links .nav__link:hover,
.nav__container .nav__links .active {
  border-bottom: 2px solid var(--color-highlight);
  color: var(--color-highlight);
  transition: var(--transition);
}


.nav__container .nav__links .btn {
  margin-left: 2.8rem;
}

.nav__menu {
  display: none;
  cursor: pointer;
  width: 3rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.nav__container .nav__menu .nav__menu-icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.nav__close {
  display: none;
}

.nav__social{
  display: none;
}


/* ==================== Responsive Mobile ==================== */

@media screen and (max-width: 768px) {
  .nav__container {
    padding: 2rem;
  }

  .active {
    padding: 1rem 2.4rem;
  }

  .nav__container .nav__menu {
    position: relative;
    display: flex;
  }

  .nav__container .nav__links {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    background-color: var(--nav-link);
    padding: 6rem 4rem;
    min-height: 100vh;
    max-height: 100vh;
    width: 60%;
    border-radius: var(--border-radius);
    box-shadow: var(--nav-shadow);
    transition: var(--transition);
  }

  .nav__container .nav__close {
    left: -100%;
  }

  .nav__container .nav__links .btn {
    margin-left: 0;
    margin-top: 2rem;
  }

  .nav__social{
    display: flex;
    gap: 1.4rem;
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .active {
    padding: 1rem 1.2rem;
  }
}
